body{
    padding-top: 65px;
    padding-left:96px ;
    padding-right: 24px;
    background-color: rgb(236, 236, 236);
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width:72px ;
    top: 55px;
    z-index: 200;
    padding-top: 5px;
  
}
.sidebar-link{
    display: flex;
    height: 74px;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(231, 230, 230);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 6px;
}
.sidebar-link div{
   font-family: roboto,arial;
   font-size: 10px;
   color: black;
}
