.search{
    display: block;
  }
  .flex{
    display: flex;
    flex-direction: row;
    height:  55px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px ;
    border-color: rgb(217, 217, 217);
    z-index: 100;
  }
  .left{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .mid{
   
    flex:1 ;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .right{
   
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   flex-shrink: 0;
   margin-right: 20px;
  }
  .one{
    margin-right: 30px;
    width: 30px;
    height: 30px;
  }
  .two{
    width: 100px;
    height: 35px;
  }
  .search{
    font-family: roboto arial;
    padding-left: 10px;
    height: 31px;
    flex: 1;
    width: 0;
    border-color: rgb(188, 188, 188);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    box-shadow: inset 1px 2px 3 px rgba(0, 0, 0, 0.15);
  }
  .search::placeholder{
    font-size: 16px;
    padding-left: 5px;
  }
  .voice-button{
    height: 41px;
    width: 40px;
    border-radius: 20px;
    border:none;
    
    
  }
  .search-button{
    height: 34px;
    width: 60px;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(188, 188, 188); ;
    margin-left: -1px;
    margin-right: 10px;
    
  }
   .search-button , .voice-button, .the-video,.relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    
   }
   .the-video .video-div{
    margin-bottom: -3px ;
   }
   .search-div{
    margin-bottom: -6px;
   }
   
  .search-button .search-div
  ,.voice-button .voice-div
  ,.the-video .video-div
  ,.notfication .notfication-div{
    position: absolute;
    background-color: gray;
    color: white;
    font-family: roboto , arial;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -27px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
  }
  .search-button:hover .search-div,
  .voice-button:hover .voice-div
  , .the-video:hover .video-div
  , .notfication:hover .notfication-div
  {
   opacity: 1;
  }
  .tree{
  margin-top: 4px;
  height: 25px;
  } 
  .fure{
  height: 25px;
  margin-top: 2px;
  margin-left: 3px;
  }
  .the-video{
    height: 35px;
    border: none;
    border-width: 0px;
    width: 38px;
    border-radius: 30px;
    background-color: white;
  }
  .point{
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: white;
  }
  .notfication{
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: white;
    
  }
  .profile-icon{
    
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 30px;
    background-color: white;
  }
  .five{
    width: 30px;
    margin-left: 0px;
    border-radius: 30px;
    background-color: white;
  }
  .eight{
  height: 30px;
  width: 30px;
  border-radius: 30px;
  
  }
  .seven{
    width: 22px;
    height: 24px;
  }
  .relative{
    position: relative;
  }
  .absolute{
    font-family: roboto ,arial;
    position: absolute;
    top: 0;
    color: white;
    right: 0;
    top: -2px;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    background-color: rgb(213, 55, 55);
    border-radius: 10px;
  }